[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pan-os-python = "*"
pan-python = "*"
xmltodict = "==0.12.0"
requests = "==2.22.0"

[dev-packages]
black = "==21.5b0"
isort = "==5.8.0"
pytest = "*"
coverage = "==4.5.4"
pycodestyle = "*"
pylint = "*"
pytest-xdist = "*"
pytest-mock = "*"
voluptuous = "*"
yamllint = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
ansible-doc-extractor = "*"
rstcheck = "*"
six = "*"
ansible-core = "*"

[requires]
python_version = "3.6"
