[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pan-os-python = "*"
xmltodict = "==0.12.0"
requests = "==2.22.0"
pytest-xdist = "*"
pytest-mock = "*"

[dev-packages]
ansible = "*"
black = "*"
isort = "*"
pytest = "*"
coverage = "==4.5.4"
pycodestyle = "*"
pylint = "*"
pytest-xdist = "*"
pytest-mock = "*"
voluptuous = "*"
yamllint = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
ansible-doc-extractor = "*"
rstcheck = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
